# Flask API Example
  
  <br/><br/>

## 01. Data Collection and Preparation  
  
  <br/><br/>

A sample project showing how to build a Flask API that will interact with an existing model developed for my General Assembly capstone.  


  
  <br/><br/>

## Importing Libraries and Data

In [1]:
import pandas as pd
import numpy as np
import warnings
import glob
import os

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
sns.set(font_scale=0.8)

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [3]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.tree import export_graphviz
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, log_loss
from sklearn.metrics import plot_confusion_matrix, classification_report
from sklearn.metrics import roc_auc_score, average_precision_score, plot_roc_curve, plot_precision_recall_curve

In [4]:
import joblib

In [5]:
# run to avoid warnings
warnings.filterwarnings('ignore')

In [6]:
# create a dataframe from the original fitness dataset
data = pd.read_csv('datasets/final_dataset_BFP.csv')

In [21]:
data

,Weight,Height,BMI,Body Fat Percentage,BFPstatus,Gender,Age,BMIstatus,Exercise Recommendation Plan
0,76.811975,1.820521,23.175956,18.281148,Acceptable,Male,29,normal,4
1,77.721154,1.945498,20.534184,13.731021,Fitness,Male,23,normal,4
2,87.558726,1.742754,28.828859,42.304631,Obese,Female,57,over weight,5
3,89.473356,1.758318,28.940017,27.958021,Obese,Male,41,over weight,5
4,69.963943,1.722570,23.578732,16.464478,Fitness,Male,19,normal,4
...,...,...,...,...,...,...,...,...,...
4995,87.003054,1.902891,24.027404,16.772884,Fitness,Male,18,normal,4
4996,92.121555,1.779346,29.096464,30.215757,Obese,Male,50,over weight,5
4997,105.298845,1.972883,27.053345,31.214014,Obese,Male,65,over weight,5
4998,90.411999,1.803409,27.799528,29.579434,Obese,Male,54,over weight,5
4999,54.641104,1.402966,27.760382,42.862459,Obese,Female,65,over weight,5

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Weight                        5000 non-null   float64
 1   Height                        5000 non-null   float64
 2   BMI                           5000 non-null   float64
 3   Body Fat Percentage           5000 non-null   float64
 4   BFPstatus                     5000 non-null   object
 5   Gender                        5000 non-null   object
 6   Age                           5000 non-null   int64
 7   BMIstatus                     5000 non-null   object
 8   Exercise Recommendation Plan  5000 non-null   int64
dtypes: float64(4), int64(2), object(3)
memory usage: 351.7+ KB

In [20]:
data.describe(include='all')

,Weight,Height,BMI,Body Fat Percentage,BFPstatus,Gender,Age,BMIstatus,Exercise Recommendation Plan
count,5000.000000,5000.000000,5000.000000,5000.000000,5000,5000,5000.000000,5000,5000.000000
unique,NaN,NaN,NaN,NaN,4,2,NaN,7,NaN
top,NaN,NaN,NaN,NaN,Obese,Male,NaN,normal,NaN
freq,NaN,NaN,NaN,NaN,3033,2517,NaN,1458,NaN
mean,80.218232,1.762564,26.003673,29.974650,NaN,NaN,41.769400,NaN,4.866000
std,17.161304,0.128635,5.601313,10.804125,NaN,NaN,13.797199,NaN,1.503095
min,50.004559,1.391627,13.099716,5.180450,NaN,NaN,18.000000,NaN,1.000000
25%,65.691294,1.704281,21.575751,21.296533,NaN,NaN,30.000000,NaN,4.000000
50%,80.178376,1.775016,26.565933,29.976548,NaN,NaN,42.000000,NaN,5.000000
75%,94.964977,1.846296,30.801344,39.128578,NaN,NaN,54.000000,NaN,6.000000
max,109.986731,1.979956,34.996928,51.428497,NaN,NaN,65.000000,NaN,7.000000

## Data Extraction

In [28]:
# save the test dataframe as CSV
df_try.to_csv('datasets/mod/df_try.csv', encoding='utf-8', index=False)